.container {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: repeat(4, 30px);
  gap: 10px 0;
  margin-top: 18px;
  text-align: left;
  a {
    &:hover {
      border: none;
    }
  }
}
